#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post-heading {
  font-size: 1.8em; /* Larger font size for headings */
  color: #333; /* Darker color for headings */
  margin: 1.5em 0; /* Margin for spacing */
}

.post-paragraph {
  font-size: 1em; /* Standard font size for paragraphs */
  color: #555; /* Lighter color for paragraphs */
  line-height: 1.6; /* Improved line height for readability */
}

/* Remove default list styling */
ul {
  list-style-type: none; /* Removes the default list dots */
  padding: 0; /* Removes default padding */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}